In [2]:
import pandas as pd
import os

In [4]:
measurement_file = os.path.join("Resources", "hawaii_measurements.csv")
station_file = os.path.join("Resources", "hawaii_stations.csv")

measurement_data = pd.read_csv(measurement_file)
station_data = pd.read_csv(station_file)

In [7]:
print(f"Total rows: {measurement_data.count()}")
print(f"Null values: {measurement_data.isnull().sum()}")
measurement_data.head(10)

Total rows: station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64
Null values: station       0
date          0
prcp       1447
tobs          0
dtype: int64

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73
5  USC00519397  2010-01-07  0.06    70
6  USC00519397  2010-01-08  0.00    64
7  USC00519397  2010-01-09  0.00    68
8  USC00519397  2010-01-10  0.00    73
9  USC00519397  2010-01-11  0.01    64

In [8]:
print(f"Total rows: {station_data.count()}")
print(f"Null values: {station_data.isnull().sum()}")
station_data.head(10)

Total rows: station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64
Null values: station      0
name         0
latitude     0
longitude    0
elevation    0
dtype: int64

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [11]:
clean_measurement_data = measurement_data.dropna(how="any") 
clean_station_data = station_data

measurement_save_path = os.path.join("Resources", "clean_hawaii_measurements.csv")
station_save_path = os.path.join("Resources", "clean_hawaii_stations.csv")

clean_measurement_data.to_csv(measurement_save_path, index=False, header=True)
clean_station_data.to_csv(station_save_path, index=False, header=True)